:root {
  --swiper-theme-color: #433f3f;
  --swiper-slide-width: : 200px;
  --swiper-slide-height: 200px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #333;
  background: rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0eadc;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-top: 20rem;
  padding-bottom: 20rem;
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ------- LINKS -------- */
a {
  text-decoration: none;
  color: black;
}

a:hover,
.menu-button:hover {
  color: #e68900;
}

/* ------- NAVBAR -------- */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  height: 4rem;
}

.navIcons {
  height: 28px;
  width: 28px;
}

.navList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 4rem;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo-item {
  display: none;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.dropdown-menu {
  position: absolute;
  bottom: 70px;
  left: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li:hover {
  background: #f5f5f5;
}

.text-capitalize {
  text-transform: capitalize;
}

/* ------- PRODUCT LIST -------- */
.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.product-card {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.latest-product-title {
  text-decoration: none;
  color: black;
}

.latest-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.latest-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin-bottom: 6rem;
  background: transparent;
}

.latest-products-container img {
  object-fit: contain;
  max-width: 50%;
  max-height: 100%;
  object-fit: cover;
}

/* ------- PRODUCT CARD DETAILS -------- */
.product-card-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  background-color: #fff;
}

.product-card-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  margin: 1rem;
}

.product-card-details-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* -------—— FAVORITES -----——— */
.p-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ——----- CART  -------——— */

.cart-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.cart-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-container li {
  background-color: rgb(231, 222, 209);
  padding: 1rem 4rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.amount-button,
.remove-button {
  width: 6rem;
  height: 2rem;
  border-color: solid black;
  border-width: 1px;
  border-radius: 1rem;
  background: white;
  margin: 0 0.5rem;
}

.order-button {
  width: 16rem;
  height: 2.5rem;
  border: none;
  border-width: 1px;
  border-radius: 1rem;
  background: black;
  color: white;
  font-size: large;
  box-shadow: rgb(0, 0, 0.5) 2px 2px 2px;
  margin-bottom: 4rem;
}

.amount-button:hover,
.remove-button:hover,
.order-button:hover {
  color: black;
  background: white;
}

/* ——------- MODAL ------——— */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(231, 222, 209);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content button {
  background: black;
  color: white;
  border-radius: 16px;
  width: 6rem;
  height: 2rem;
}

/*  ——--—— CLOSE BUTTON ——---—— */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ------- ADD TO CART BUTTON -------- */
.add-button,
.add-to-cart-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.add-to-cart-button {
  background-color: #ff9800;
  padding: 8px 12px;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 4px;
}

.add-to-cart-button:hover {
  background-color: #e68900;
}

/* ---------- CART ----------- */
.cart-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 4px 7px;
}

/* ------- SWIPER -------- */
.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------- FOOTER -------- */
.footer {
  background: #f8f8f8;
  padding: 30px 20px;
  text-align: center;
  margin-top: auto;
  display: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-socials {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

footer-socials .social-icon {
  color: black;
  transition: color 0.3s ease;
}

.footer-socials .social-icon:hover {
  color: #333;
}

.footer-rights {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: #666;
}

/* ------- BREADCRUMB -------- */
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  text-transform: capitalize;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #666;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
}

/* ------- RESPONSIVE DESIGN -------- */
@media (min-width: 768px) {
  .product-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product-card {
    width: 300px;
    height: 320px;
    margin: 1rem;
    padding: 1rem;
  }

  .product-card-details {
    display: flex;
    flex-direction: column;
  }

  .product-card-details-desktop {
    display: flex;
    flex-direction: row;
    background: #fdfcf9;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    justify-content: center;
  }

  .product-card-details-mobile {
    display: none;
  }

  .product-card-details-desktop img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 1rem;
  }

  .navbar {
    top: 0;
    bottom: auto;
    justify-content: space-between;
  }

  .navList {
    gap: 2.5rem;
    padding-right: 2rem;
  }

  .logo-item {
    display: block;
    padding-left: 2rem;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  .dropdown-menu {
    position: absolute;
    top: 70px;
    right: 10px;
    left: auto;
    bottom: auto;
  }

  .footer {
    display: block;
  }
}
